.body{
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.fond_gauche{
    background-color:  #fdf2e9 ;
}

.h1{
    font-family: 'Lato', sans-serif;
}

.col{
    height: 100%;
}

.round{
    color: red;
    font-size: 96px;
    text-align: center;
}

.text-player{
    color: black;
    height: 96px;
    width: 48px;
    font-size: 48px;
    text-align: center;
}

.col {
    display: inline-block;
    width: 200px;
}
.brown_white {
    background: linear-gradient(to right, #fdf2e9 50%, white 50%);
}
